

body {
    min-height: 100vh;
    background: linear-gradient(135deg, #94a0ad,#7a7c7d,#444);
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.custom-card {
    background-image: url("/image/background2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid #94a0ad;
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
    color: #35648f;
    margin-bottom: 20px;
}

.custom-card h2 {

    margin-bottom: 25px;
    font-weight:bold;
}


/*--------TITLE-STYLES--------*/


.title-card {
    background-image: url("/image/BackgroundBase.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid #94a0ad;
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
    color: #35648f;
    margin-bottom: 20px;
}

/*------------------------------------------------*/


/*--------INTRO-STYLES--------*/

.avatar-icon {
    width: 180px;
    height: 180px;
}

.introcard-style h5 {
    font-weight:bold;
}


/*----------CERTIFICATION-STYLES---------------------*/
.certification-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}


.card-certification {
    padding: 15px;
    text-align: center;
    border-radius: 6px;
}

    .card-certification h6 {

        font-weight:bold;
    }



    .certification-icon {
        width: 130px;
        height: 130px;
    }




/*----------------SKILLS-STYLES-----------------*/


.skills-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
   
}





.skill-card {
    border: 2px solid #35648f;
    border-radius: 15px;
    padding: 20px;
    height: 100%;
    background-color: #c1c1c1;
}

    .skill-card h3 {
        text-align: center;
        margin-bottom: 20px;
    }

.skill-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

    .skill-list li {
        display: flex;
        flex-direction: column;
        align-items: center;
     
        
    }


.skill-style {
    border: 2px solid #35648f;
    border-radius: 15px;
    padding: 20px;
    height: 100%;
    background-color: #c1c1c1;
   
}


    .skill-style h5 {

        width: 130px;
        margin-top: 5px;
        
        
    }





.skill-icon {
    width: 100px;
    height: 100px;
}




/*------------PROJECT-STYLES---------------------*/


.projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;



   
}

.project-card {
    border: 2px solid #35648f;
    border-radius: 15px;
    padding: 20px;
    height: 100%;
    background-color: #c1c1c1;
}

    .project-card h5, h6 {
        font-weight: bold;
    }


    .project-card p {
    
        margin-top: 10px;
    }



    .project-img {
        width: 400px;
        height: 290px;
        border: 2px solid #35648f;
    }




    .tech-icon {
        width: 40px;
        height: 40px;
        margin: 5px 0 30px 15px;
    }

    .project-card a {
        margin-left: 15px;
        width: 200px;
        margin-top: 10px;
    }



/*----------------PROFESSIONAL TRAJECTORY--------------------------------*/

.professional-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.professional-grid h5 {
    
    font-weight:bold;
}


.professional-icon {
    width: 100px;
    height: 100px;
}

/*----------------FORMAL EDUCATION---------------------------*/

.education-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;
}


.card-education {
    padding: 15px;
    text-align: center;
    border-radius: 6px;
}

.card-education h5 {
    font-weight:bold;
}


.education-icon {
    width: 130px;
    height: 130px;
}



/*----------------ADDITIONAL TRAINING---------------------------*/

.training-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;
}


.card-training {
    padding: 15px;
    text-align: center;
    border-radius: 6px;
}

    .card-training h5 {
        font-weight: bold;
    }


.training-icon {
    width: 130px;
    height: 130px;
}







/*----------------LANGUAGES---------------------------*/

.language-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;
}


.card-language {
    padding: 15px;
    text-align: center;
    border-radius: 6px;

}

    .card-language h5 {
        margin: 0;
        font-weight: bold;
        text-align: center;
        margin-bottom:5px;
    }


.language-icon {
    width: 100px;
    height: 100px;
}



/*--------------------NETWORKS-------------------------------------*/


.network-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}


.card-network {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    border: 2px solid #35648f;
    border-radius: 15px;
    padding: 20px;
    background-color: #c1c1c1;
}

    .card-network h5 {
        margin: 0;
        font-weight: bold;
        text-align: center;
    }


.network-icon {
    width: 60px;
    height: 60px;
}



/*---------------------------------------------------------*/







@media (max-width: 1000px) {
    .projects-grid {
        grid-template-columns: repeat(1, 1fr);
        
    }

    .certification-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .professional-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .Project-Style h4 {
        font-size:16px;
    }

    .Project-Style p {
        font-size: 10px;
    }

    .introcard-grid-redes {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1.5rem;
        margin-bottom: 10px;
    }


}

@media (max-width: 600px) {
    .projects-grid {
        grid-template-columns: 1fr;
    }

    .Project-Style h4 {
        font-size: 18px;
    }

    .Project-Style p {
        font-size: 12px;
    }


    .introcard-grid-redes {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1.5rem;
        margin-bottom: 10px;
    }





}


.card-project {


    padding: 15px;
    text-align: center;
    border-radius: 6px;
}


/*------skills--------*/















.Intro-Style img:hover {
    filter: drop-shadow(0 0 2px #cedcf5) drop-shadow(0 0 2px #05defc);
}

.Intro-Style a {
    text-decoration:none;
    color:#7a7c7d;
}

    .Intro-Style a:hover {
        filter: drop-shadow(0 0 2px #cedcf5) drop-shadow(0 0 2px #05defc);
        
    }
















/*---------------------------------------------------------*/





:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: #35648f;
    text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #35648f;
        background-color: #ffffff;
    }
    a:hover {
        color: #35648f;
    }
  button {
    background-color: #f9f9f9;
  }
}
